*, 
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}


body{
    display: flex;
    flex-direction: column;    
    background-color: rgb(236, 227, 227);
}

img{
    width: 20rem;
    border-radius: 8px;  
     
}

section{
    padding: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    height: 100%;   
    min-height: 570px;
    width: 100%;
    min-width: 22rem;
    display: flex;
    flex-direction: column;
    align-items: center; 
    overflow: hidden;  
    border: 2px solid rgb(0, 17, 255);
    border-radius: 8px;
} 

/* ----------------------------------------------*/
.container{
    display: flex;
    flex-direction: column;
    display: flex;
    margin-top: 40px;
    width: 260px;    
}

.input{
    margin-top: 20px;
    display: flex;
    align-self: center;
    width: 20rem;
    height: 32px;
    border-radius: 5px;
    padding: 4%;
}

button{
    height: 35px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background-color: red;
    color: white; 
    margin: 5px;  
}

.btn_avancar{
    margin-top: 40px;
}
.btn_proximo{
    margin-top: 35px;
}

.titulo{
    text-align: center;
    font-weight: bold;
    }

#caixa{
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    width: 260px;
    height: 70px;
}


#nome, #fone{
    height: 30px;
}

.box_pix{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;       
}
.img_pix{ 
    margin-right: 10px;   
    width: 100px;
    height: 50px;
}

.chave{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    padding: auto;    
    width: 260px;
    margin-top: 30px;
}
.confirm{ 
    margin: 10px;   
    text-align: center;
    font-size: 1.5rem;    
    font-weight: bold; 
    border: 1px solid red; 
    height: 100%;  
}
.box_user{
    display: flex;
    justify-content: center;
    background-color: rgb(174, 189, 216);
}
h4{
    margin-right: 15px;
}
.box_city{
    margin-top: 7px;
    background-color: rgb(150, 163, 187);    
}
.box_cond{
    margin-top: 7px;
    background-color: rgb(174, 189, 216);
}

#respFone{
    margin-top: 7px;
    background-color: red;
    color: #fff;
}
ul{
    margin-top: 30px;
    line-height: 40px;     
}

footer{
    position: fixed;
    bottom: 15px;
}


