*, 
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}


body{
    display: flex;
    flex-direction: column;    
    background-color: rgb(236, 227, 227);
}

img{
    width: 20rem;
    border-radius: 8px;    
}

section{
    padding: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);    
    min-height: 570px;
    display: flex;
    flex-direction: column;
    align-items: center; 
    overflow: hidden;       
}
/* ----------------------------------------------*/
.container{
    display: flex;
    flex-direction: column;
    display: flex;
    margin-top: 40px;
    width: 260px;
}

.input{
    margin-top: 20px;
    display: flex;
    align-self: center;
    width: 20rem;
    height: 32px;
    border-radius: 5px;
    padding: 4%;
}

button{
    height: 35px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    margin-top: 15px;
    background-color: red;
    color: white;
   
}
.titulo{    
    text-align: center;
    font-weight: bold;
}

#caixa{
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    width: 260px;
    height: 70px;
}
.img_pix{
    margin-top: 15px;
   width: 150px;
}
#nome, #fone{
    height: 30px;
}

.chave{
    display: flex;
    justify-content: center;
    align-items: center;
      border-radius: 5px;
    padding: auto;
    height: 25px;
    width: 260px;
    margin-top: 15px; 

}
.confirm{
    margin-top: 35px;
    text-align: center;
    font-size: 30px;
    line-height: 70px;
    font-weight: bold;    
}
ul{
    margin-top: 30px;
    line-height: 40px;     
}

footer{
    position: fixed;
    bottom: 0;
}


